*.gem
*.rbc
.bundle
.config
.rvmrc
*/.rvmrc
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
semester-2/lab4/recognize/

# YARD artifacts
.yardoc
_yardoc
doc/
